/* App.css */
.App {
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
body {
  background-image: url('../public/rm222batch5-kul-03.jpg');
  background-size: 100% 95%; /* Set background size to cover the entire viewport */
  background-repeat: no-repeat;
  background-attachment: fixed;
}
