/* App.css */
.App {
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
body {
  background-image: url('../public/rm222batch5-kul-03.jpg'); /* Replace 'path_to_your_image.jpg' with the path to your image file */
  background-size: cover; /* This ensures that the background image covers the entire viewport */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  background-attachment: fixed; /* Keeps the background image fixed while scrolling */
}
